.container {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  display: flex;
  padding: 24px;
  z-index: 1;
  position: sticky;
  top: 0;
  background: var(--color-light-grey-translucent);
  margin-bottom: 12px;
  backdrop-filter: saturate(100%) blur(8px);
}

.pageTitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.grid {
  display: grid;
  gap: 20px;
  padding: 0 20px 40px;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 720px auto;
  grid-template-areas:
    "main"
    "cards"
    "table";
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 120px auto;
  gap: 20px;
}

.cards {
  grid-area: cards;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.table {
  grid-area: table;
}

.layoutMedium {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 360px auto;
    grid-template-areas:
      "main"
      "cards"
      "table";
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.layoutWide {
  .grid {
    grid-template-columns: auto 380px;
    grid-template-rows: 740px auto;
    grid-template-areas:
      "main cards"
      "table table";
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.shrinkable {
  min-width: 0;
}

.autoHeight {
  height: auto;
}
