@import "@/styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    padding: 16px 20px 8px;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.title {
    margin: 0 0 12px;
    font-size: 1.2rem;
    font-weight: 600;
}

.tableContainer {
    height: auto;
    width: 100%;

    @include custom-scrollbar();
}

.table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    min-width: 800px;
}

.columnHeader {
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-darker-grey);
}

.row:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grey);
}

.cell {
    padding: 12px 32px 12px 0;
}

.extraPaddingRight {
    padding-right: 64px;
}

.rightAligned {
    text-align: right;
}

.bold {
    font-weight: 600;
}

.loadingOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.8);
    border-radius: 4px;
}

.loadingIndicator {
    height: 50px;
}

