@value nav-width: 228px;

.root,
.main {
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-light);
  width: nav-width;
  height: 100%;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLinks {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 180px;
}

.main {
    padding-left: nav-width;
    background-color: var(--color-light-grey);
}
