@import '@/styles/mixins';

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-light);
    box-shadow: var(--shadow-1);
    border-radius: 4px;
    padding: 20px;
    gap: 20px;
    position: relative;

    @include custom-scrollbar();
    overflow-y: hidden;
}
