.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-light);
    box-shadow: var(--shadow-1);
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.loadingOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.8);
    border-radius: 4px;
}

.loadingIndicator {
    height: 50px;
}
