.card {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    box-shadow: var(--shadow-1);
    background: var(--color-light);
    border-radius: 4px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}
