@import '@/styles/mixins';

$header-height: 60px;
$min-width: 760px;

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 480px;

    @include custom-scrollbar();
    overflow-y: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 12px 10px;
    height: $header-height;
    min-width: $min-width;
}

.chart {
    width: 100%;
    min-width: $min-width;
    height: calc(100% - ($header-height + 10px));
}

.loadingOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 0.5);
    border-radius: 4px;
}

.loadingIndicator {
    height: 50px;
}

.rightAligned {
    margin-left: auto;
}
