.container {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    position: relative;
}

.row {
    display: flex;
}

.chart {
    width: 100%;
    height: 400px;
}

.loadingOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.8);
    border-radius: 4px;
}

.loadingIndicator {
    height: 50px;
}
