:root {
  --color-dark: #433C5D;
  --color-light: #fff;
  --color-light-grey: #f7f7f7;
  --color-grey: #92a4b0;

  --color-primary: #615AA6;
}

/* Apply border-box for all elements. */
html {
  box-sizing: border-box;
  color: var(--color-dark);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Make app root fill whole screen. */
html,
body,
#__next {
  height: 100%;
  margin: 0;
}
